.main {
  &__toolbar {
    background: rgba(245, 247, 250, 1);
  }

  &__spacer {
    flex: 1 1 auto;
  }

  &__block {
    position: absolute;
    max-height: 500px;
    width: 500px;
    top: 50%;
    overflow: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  &__radio-button {
    margin-bottom: 6px;
  }
}

h2 {
  display: flex;
  align-items: center;
  span {
    color: rgba(127, 138, 159, 1);
    margin-right: 6px;
  }
}
