<mat-card class="login__card mat-elevation-z8">
  <h2>Регистарция</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="login__field">
      <mat-label>Email</mat-label>
      <input required type="email" matInput placeholder="Placeholder" formControlName="email" />
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="form.get('email').hasError('email')">Введите корректный email</mat-error>
      <mat-error *ngIf="form.get('email').hasError('required')">Введите email</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="login__field">
      <mat-label>Пароль</mat-label>
      <input required type="password" matInput placeholder="Placeholder" formControlName="password" />
      <mat-icon matSuffix>vpn_key</mat-icon>
      <mat-error>Введите пароль</mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" class="login__button" [disabled]="loading$ | async">
      создать
    </button>
    <button
      mat-button
      type="button"
      class="login__button login__button_registration"
      [disabled]="loading$ | async"
      [routerLink]="['/auth/login']"
    >
      войти
    </button>
  </form>
  <mat-progress-bar *ngIf="loading$ | async" mode="indeterminate" color="primary"></mat-progress-bar>
</mat-card>
